@import "tailwindcss";

@layer components {
  .heading {
    @apply text-2xl font-bold;
  }
  .card {
    @apply inline-block border border-gray-300 rounded-md p-4 hover:bg-gray-100;
  }
  .active-card {
    @apply bg-gray-200;
  }

  .title {
    @apply text-xl font-bold;
  }

  .list {
    @apply grid grid-cols-2 gap-4;
  }

  .price {
    @apply text-lg font-bold;
  }
  .description {
    @apply text-sm text-gray-500;
  }

  .nav-link {
    @apply text-green-500;
  }
  .active-nav-link {
    @apply font-bold;
  }

  .button {
    @apply bg-green-500 text-white p-2 rounded-md uppercase cursor-pointer;
  }
  .outlined-button {
    @apply border border-green-500 text-green-500 p-2 rounded-md uppercase;
  }

  .input {
    @apply border border-gray-300 rounded-md p-2;
  }

  .label {
    @apply text-sm font-bold;
  }

  .code {
    @apply text-sm font-bold bg-gray-100 p-2 rounded-md;
  }
}
